html{
    height:100%;
    width:100%;
    padding:0;
    margin:0;
}

body {
    background-color: #1C1C1E;
    color: #d5d6d8;
    height: 100%;
    display:flex;
    flex-direction: row;
    justify-content:center;
    align-items:center;
    font-size: 28px;
}

.word {
    display: inline-block;
    margin: 4px;
}

*{font-family: 'Fira Sans', sans-serif;}
.bold{font-weight:bold;}
.italic{font-style: italic;}
.oblique{font-style: oblique;}

#words {
   width: 1200px;
   height: 200px;
}

.correct {
    color: #353538;
}

.incorrect {
    color: #53b082;
    text-shadow: 0 0 4px #53b082;
}

#cursor {
    margin-left: -5.5px;
    position: absolute;
    color: #53b082;
    animation: 1s blink step-end infinite;
}

@keyframes blink {
    from, to {
        color: #53b082;
    }
    50% {
        color: transparent;
    }
}