<!doctype html>
<title>🍋</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link href="https://fonts.googleapis.com/css?family=Fira+Sans" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='javascript/typer.js') }}"></script>
    <script src="{{ url_for('static', filename='javascript/timer.js') }}"></script>
<div class="center-block">
    <div id="timer">time</div>
    <div id="words-container">
        <div id="words"></div>
    </div>
    
</div>